* {padding:0; margin:0}



body {
  background-color: #9933ff;
}

.tabs li {
  list-style: none;
  display: inline;
}

.tabs a {
   padding: 5px 10px;
   display: inline-block;
   background: #666;
   color: #fff;
   text-decoration: none;
}

.tabs a.active {
   background: #000066;
}

.tabsjump {
    width: 100%;
    height: 540px;
    padding-top: 6px;
    background-color: white;  
}

#nav ul {
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  background-color: #000000;
}

#nav  ul li{
  display: inline;
  list-style: none;
}


#nav li a:link, #nav li a:visited {
  width: 120px;
  padding: 4px;
  font-weight: bold;
  color: #FFFFFF;
  display: inline-block;
  background-color: #000000;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#nav li a:hover, #nav li a:active {
  background-color: #FFFFFF;
  color: #000000;
}

#tab-personal label {
  float: left;
  clear: both;
  width: 110px;
  padding-top: 6px;
}

#tab-personal input {
  float: left;
  padding-top: 3px;
  margin-top: 6px;
  width: 200px;
}

.contactinput  {
  padding-left: 2px;
  margin: 9px;
  border: 1px solid black;
  width: 60%;
  pointer-events: none;
} 

#streetaddress {
  padding-left: 2px;
  margin: 6px;
  border: 1px solid black;
  width: 60%;
  pointer-events: none;
}

#zipcode {
  padding-left: 2px;
  margin: 6px;
  border: 1px solid black;
  width: 60%;
  pointer-events: none;
}

#editbutton {
   font-size: 0.9em;
   width: 18%;
   margin-top: 8px;
}

#editbuttoncontainer {
  width: 100%;
  height: 6%;
  text-align: center;
}

legend {
  font-weight: bold;
  font-size: 110%;
}

#financialfieldSet {
  width: 100%;
  height: 100%;
}

.tablesorter {
   width: 100%;
   border-collapse: collapse;
   border: 1px solid black;
}

.tablesorter thead tr th {
  text-align: left;
  font-size: 12px;
  background-color: limegreen;
  padding: 4px 30px 4px 8px;
  border: 1px solid green;
} 

.tablesorter th.header {
    background-image: url("../plugins/tablesorter/themes/blue/bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter th.headerSortUp {
    background-image: url("../plugins/tablesorter/themes/blue/asc.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter th.headerSortDown {
    background-image: url("../plugins/tablesorter/themes/blue/desc.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

th.checkbox, th.credits {
  width: 2%;
}

th.code {
 width: 6%;
}

th.time {
   width: 10%;
}

th.location {
    width: 15%;
}

th.name {
   width: 26%;
}

th.department {
   width: 15%;
}

th.professor {
   width: 24%;
}

.filters {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 14px;
}

#filterlabel {
  font-weight: bold;
  margin-left: 8px;
}

.tablesorter td {
   border: 1px solid black;
}

#tablesummary th {
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

table {
  border-collapse: separate;
    border-spacing: 0;
}

#tablesummary {
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#tablesummary th, td {
   padding: 3px 10px;
}

#tablesummary td {
  background-color: white;
}

.separatorlinetotal td {
 border-top: 2px solid black;
}

#paymentscontainer  {
   float: left; 
   margin-left: 40px;
}

#paymentslabel {
    float: left;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

table.thead, table.tbody {
  display: block;
}

#tablepayments th {
  text-align: left;  
  width: 24%;
  height: 30%;   
  font-weight: bold;
  background-color: limegreen;
  border: 1px solid green;
}

#tablepayments {
  border-spacing: 0;
   border: 2px solid black;
}

#tablepayments  tbody tr td:nth-child(1){
   text-align: left;
}

#tablepayments  tbody tr td:nth-child(2){
   text-align: right;
}

#tablepayments  tbody tr td:nth-child(3){
   text-align: right;
}

#tablepayments  tbody tr td:nth-child(4){
   text-align: right;
}

#selecttype {
  margin-bottom: 4px;
  margin-top: 2px;  
}

#containertablepayments {
   width:400px;
   height: 245px;
   margin-bottom: 6px;
   overflow: auto;
}

#contactcontainer {
  display: inline-block;
  width: 25%;
  height: 100%;
}

#containerfinancial {
  text-align: center;
  width: 100%;
}

#contactfieldset {
  width: 80%;
  height: 88%;
  padding: 10px;
}

#makepaymentbuttoncontainer {
   text-align: center;
   margin-top: 4px;
}

#tablepayments  td {
   font-family: sans-serif;
   font-size: 0.7em;
}

.tabs li:last-child {
   visibility: hidden;
}

#paymenttypecontainer {
   margin-top: 10px;
   height: 30%;
   width: 100%;
}

#companycontainer {
  height: 30%;
  width: 100%;
}

.container {
  padding: 8px;  
  border: 1px solid black;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#steponecontainer {
   height: 42%;
  width: 68%;    
}

#steptwocontainer {
  height: 50%;
  width: 70%;
}

#stepthreecontainer {
   height: 42%;
   width: 60%;
}

.dropdown {
  font-size: .6em;
}

.input {
 font-size: 2em;
}

.heading {
    font-weight: bold;
    font-style: italic;
    font-size: 2.5em;
}

.paymentsteps {
  float: left;
  position: relative;
  margin-left: 8px;
  border: 1px solid black;
  width: 32%;
  height: 100%;
}

.hidden {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 15%;
}

#creditvincontainer {
 padding-top: 25px;
 padding-left: 4px;
 visibility: hidden;
  
}

#onlineinputcontainer {
 padding-top: 25px;
 padding-left: 4px;
 visibility: hidden;  
}

#makepaymentcontainer {
  width: 100%;
  height: 100%;  
  padding-top: 25px;
  padding-left: 4px;
}

.inputtext {
   font-size: 0.7em;
}

#vincontainer {
 margin-top: 8px;
}

#passcontainer {
  margin-top: 8px;
}

#showpasswordcontainer {
  margin-top: 8px;
}

#vin {
  width: 12%;
}

#creditcard {
  width: 49%;
}

#instructionscontainer {
   width: 80%;
   height: 5%;
}

#finishbutton {
   width: 30%;
   height: 40%;
   font-size: 1.0em;
}

#finishbuttoncontainer {
  text-align: center;    
  width: 80%;
  height: 45%;
  margin-top: 15px;
}

#loggedincontainer {
  height: 20%;
  text-align: right;
}

#loggedinlabel {
  padding-right: 8px;
}

#fontusername {
  font-weight: bold;
  font-style: italic;
}

.contactlabel {
  width: 40%;
  margin-left: 6px;
  text-align: right;
  margin: 2px;
}

.error {
  color: red;
  font-size: 1.2em;
}

#errorcontainer {
   width: 100%;
   height: 5%;
   text-align: center;
   margin-bottom: 4px;
}

#passwordmessage {
   width: 100%;
   height: 14%;
  text-align: center;
  margin-top: 4px;
}

#contactform {
  margin-left: 40px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#allfieldsrequirednotation {
  width: 100%;
  margin-top: -28px;
  font-size: 0.9em;
  text-align: right;
}

#passwordform {
   height: 100%;
   width: 100%;
   margin-left: 30px;
}

#passwordfieldset {
    height: 38%;
    width: 100%;
}

#passwordcontainer {
   display: inline-block;
   height: 100%;
   width: 21%;
}

#changepasswordbutton {
   font-size: 0.9em;
   margin-top: 8px;
}

#passwordbuttoncontainer {
   height: 100%;
   width: 100%;
   text-align: center;
}

.highlightred {
    border: 1px solid red;
    background: #FFCECE;
}

#resetdefaultbutton {
  display: none;
}

#labelyear {
    margin-right: 10px;
}

#yeardropdown {
    margin-right: 12px;
}

#semesterlabel {
    margin-right: 8px;
}


#labelgpatitle {
 font-weight: bold;
 margin-right: 8px; 
}

#labelgpasemestertitle {
    margin-right: 4px;   
}

#labelgpasemester {
   margin-right: 12px;
}

#labelcumulativetitle {
    margin-right: 4px;   
}

#labelcumulativegpa {
   margin-right: 8px;
}

#gpacontainer {
  float: right;
}

#selectiongpacontainer {
  margin-left: 8px;
}

th.code {
  width: 10%;
}

th.title {
  width: 60%;
}

th.grade {
  width: 20%;
}

th.credits {
   width: 10%;
}

#totalcreditscontainer {
  float: right;
  margin-right: 30px;
}

#labeltotalcreditstitle {
  font-weight: bold;
}

#labeltotalcredits {
   font-weight: bold;
}

.buttonscontainer {
   margin-top: 8px;
   text-align: center;
}

.buttonscourses {
  width: 9%;
  margin: 10px;
  font-size: 105%;
}

#labelfilterdepartmenttitle {
  font-weight: bold;
}

.labelcreditstitle {
  font-weight: bold;
  font-size: 108%;
  margin-right: 4px;
}

.creditscontainer {
  float: right;
  margin-top: 8px;
  margin-right: 4px;
}

#filterdepartmentcontainer {
  margin-bottom: 8px;
  margin-left: 7px;
}

#labelfilterdepartmenttitle {
   font-weight: bold;
   padding-right: 14px;
}

.containercoursestitle {
    margin-top: 20px;
    margin-bottom: -5px;
    text-align: center;
    padding-right: 150px;
}

#containerfilterscurrentcourses {
  margin-top: 12px;
  margin-bottom: 8px;
}

#containerlabelcoursesdate {
    text-align: center;
}

.labeltitletables {
    font-size: 160%;
  font-weight: bold;
  text-decoration: underline;
}

.tablesorter tbody tr:nth-child(odd) {
  background-color: #D3D3D3;
}

.tablesorter tbody tr:nth-child(even) {
    background-color: #FFFFFF;
}

#containerpaymentbutton {
   text-align: right;
   width: 100%;
   height: 100%;
}

#makepaymentbutton {
   margin-right: 8px;
   width: 8%;
   height: 20%;
   font-size: 100%;
}

#tablepayments td a{
    width: 100%;
    display: block;
}

#tablepayments {
    font-size: 1.4;
}

.labelfinancial {
   font-weight: bold;
   font-size: 2.4em;
   text-decoration: underline;
}



#containerfilterby {
   margin: 8px;
   text-align: left;
}