#containerinputcode {
   text-align: center;
   height: 50px;
}

#containerquickfind {
  margin-top: 30px;
   margin-bottom: 20px;
}

#containerresult {
  text-align: center;
}

#resultslabel {
  font-weight: bold;
  font-style: italic;
  font-size: 1.8em;
  margin: 0 auto;
}

#labelinputcodetitle  {
  font-size: 2.0em;
  margin-right: 20px;
}

#inputcoursecode {
  font-size: 1.6em;
}

#quickfindtable {
   width: 100%;
   border-collapse: collapse;
   border: 1px solid black;
}

thead tr th {
  text-align: left;
  font-size: 12px;
  background-color: limegreen;
  padding: 4px 30px 4px 8px;
  border: 1px solid green;
}

#quickfindbutton {
  background:url(../images/search.png) no-repeat;
  width: 2.5%;
  height: 68%;
  vertical-align: 9px;
}