#containerinputcode {
   text-align: center;
   margin-top: 30px;
   margin-bottom: 20px;
}

#containerbutton {
   text-align: center;
}

#containerresult {
  text-align: center;
}

#resultslabel {
  font-weight: bold;
  font-style: italic;
  font-size: 1.8em;
  margin: 0 auto;
}


#labelinputcodetitle  {
  font-size: 2.0em;
  margin-right: 20px;
}

#inputcoursecode {
  font-size: 2.0em;
}

#quickfindbutton {
  margin: 20px;	
  font-size: 1.2em;
}

#quickfindtable {
   width: 100%;
   border-collapse: collapse;
   border: 1px solid black;
}

thead tr th {
  text-align: left;
  font-size: 12px;
  background-color: limegreen;
  padding: 4px 30px 4px 8px;
  border: 1px solid green;
}